%h1 新規プレイヤー作成
= simple_form_for ['admin',@player], url: admin_players_path, method: "POST" do |f|
  = f.input :name
  = f.input :real_name
  = f.input :weight
  = f.input :profile
  = f.input :ranking
  = f.submit
