- table_th_color = ['white', 'gray', 'red', 'blue', 'yellow', 'green', 'orange', 'pink', '#CC9966']
%div.conteiner-flued
  %div.container
    - if flash[:message] 
      %h1.message= flash[:message]
    %div.image_container
      = image_tag 'mainview.png', class: 'top_img'
      = image_tag 'bg_fire.jpg', class: 'bg_img'
    /%div.catch_copy_container
    /%div.ticket_form
    %div.player_list
      %table
        %tr{style: "background-color: black;paddin-left:50px; text-weight: bold"}
          %td{style: "text-align: center;"}
            No.
          %td
            名称
          %td
            選手名
          %td
            体重
          %td
            オッズ
        - @players.each.with_index do |p,i|
          - table_bg_color = "gray" if i % 2 == 0
          - table_bg_color = "black"  if i % 2 != 0
          %tr{style: "background-color: #{table_bg_color}"}
            %th{style: "background-color: #{table_th_color[i]}"}
              = i+1
            %td
              = p.name
            %td
              = p.real_name
            %td
              - if p.real_name == "江口"
                Comming Soon
              - else
                = "#{p.weight} kg"
            %td
              - sum = 0
              - Ticket.short.where(player_1: p.id).each do |t|
                - sum = sum + t.number_of_set
              = (1 / (sum / @short_total.to_f)).round(2)
    %div.ticket_form
      %h2.ticket_form_title 
      = simple_form_for @ticket do |f|
        %div.ticket_form_items
          %table{style: "border: none; margin: 0 auto;"}
            %tr
              %th
                お名前
              %td
                = f.input :name, label: "", input_html: {class: "ticket_form_item"}
            %tr
              %th
                メールアドレス
              %td
                = f.input :email, label: "", input_html: {class: "ticket_form_item"}
            %tr
              %th
                一位予想
              %td
                = f.input :player_1, label: "", collection: @players, input_html: {class: "ticket_form_item"}
            %tr#second_player
              %th
                %div 二位予想
              %td
                %div
                  = f.input :player_2, label: "*", collection: @players, input_html: {class: "ticket_form_item"}
            %tr
              %th
                セット数
              %td
                = f.input :number_of_set, label: "", input_html: {class: "ticket_form_item"}
            %tr
              %th{colspan: 2}
                = f.input :ticket_type, as: :hidden, input_html: { value: "short" }
                = f.submit "送信する", class: "ticket_form_submit"
          %div{style: "text-align: center"}
            %br
            %small ※1 体重の減少が最も高い選手を当てるゲームです
            %small 　※2 単勝：一位予想の選手を当てると勝ちです
