!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DietRace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %div.logo
        = link_to "IACC-DR2", root_path
      %div.nav
        %div.nav_item
          = link_to "チケットを買う", new_ticket_path
        %div.nav_item
          = link_to "オッズを見る", tickets_path
      
    = yield
